body{
    background-image: url(multimedia/images/ian-dooley-TLD6iCOlyb0-unsplash.jpg);
    color: crimson;
    font-size: large;
    display: flex;
    justify-content: center;
    align-content: center;
    


}